html{
    background-color: black;
    color: #fff;
}
.mycontainer{
    display: flex;
    flex-direction: row;
}
.first{
    background: url("./images/6324bf4149201e1abd71e6cf_restaurant-gallery-03-p-800.webp") no-repeat fixed;
    background-size:auto;
    width:1000px;
    position: static;
}
header{
    text-align: center;
    margin-top: 10px;
    margin-left: 300px;
    position: fixed;
}
.mytext{
    margin:200px;
    text-align: center;
    position: fixed;
}
.mytext h2{
    font-size: 4rem;
    color:darkgoldenrod;
}
.mytext h3{
    font-size: 3rem;
}
nav{
    background-color: #fff;
    color: black;
    border-radius: 25px;
    width: 45%;
    padding: 5px;
    margin-bottom: 20px;
    margin-left: 20px;
    position: fixed;
    margin-top: 500px;
}
.links li{
    display: inline;
    padding: 7px;
}
a{
    text-decoration: none;
    font-size: 1.2rem;
    color: black;
}
.seconddiv{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px;
    width:700px;
}
.my-items{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.pic1{
    max-width: 40%;
    margin:10px;
}
#info{
    padding: 20px;
}
#info p{
    font-size: 1.2rem;
}
#info h4{
    color: darkgoldenrod;
    font-weight: lighter;
}
.footer{
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    padding: 20px;
}
.footer a{
    text-decoration: none;
    color: #fff;
    font-size: 1rem;
}
.book{
    background-color: black;
    color: #fff;
    border-radius: 25px;
    padding: 10px;
}
.book a{
    color: #fff;
}
.tooltip{
    position: relative;
    display: inline-block;
    
}
.tooltip .tooltip-text{
    visibility: hidden;
    width:250px;
    background-color: #fff;
    color:black;
    position: absolute;
    z-index: 1;
    bottom: 100%;
    left:50%;
    margin-left: -80px;
    padding: 10px;
}
.tooltip-text a{
    display: block;
    border-bottom: 1px dotted black;
    margin: 10px;
    font-weight: bold;
}
.tooltip-text h4{
    text-align: center;
}
.tooltip:hover .tooltip-text{
    visibility: visible;
}
.sidebar{
    position: fixed;
    top:0;
    left: 0;
    right:20;
    width:100%;
    height: 100%;
    transform: translate(-100%);
    transition: all 0.3s linear;
    background: black;
    margin-left: auto;
    margin-left: auto;
    text-align: center;
    color: #fff;
}
.sidebar-header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 2rem;
    color:#fff;
    padding: 20px;
}
.mycart{
    background: transparent;
    border: transparent;
}
.close-btn{
    background: transparent;
    border: transparent;
    color: darkgoldenrod;
    font-size: 1.2rem;
    font-weight: bold;
}
.show-sidebar{
    transform: translate(0);
}
@media screen and (min-width:676px){
    .sidebar{
        width:400px;
    }
}
@media (max-width:676px){
    nav{
        width:80%;
        padding: 2px;
        position: fixed;
        bottom: 10px;
        margin-left:50px;
        margin-right: auto;
    }
    #hide{
        display: none;
    }
    .first{
        background-size: cover;
        width: auto;
    }
    header{
        position: relative;
        margin-left: auto;
        margin-right: auto;
    }
    .mytext{
        position: relative;
        margin: 140px;
    }
    .mycontainer{
        flex-direction: column;
    }
    .seconddiv{
        width:auto;
    }
    .my-items{
        flex-direction: column;
    }
    .pic1{
        max-width: 100%;
        margin: 2px;
    }
    .footer{
        display: grid;
        grid-template-columns: repeat(2,1fr);
    }
    .author{
        text-align: center;
        margin-top: 20px;
        margin-left: auto;
        margin-right: auto;
    }
}